# Make vim the default editor
export EDITOR=vim
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
#export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
#
#PATH
export PATH=/Users/tolga/Desktop/DevTools/android-sdk-mac_x86/tools:$PATH
export PATH=/Users/tolga/Desktop/DevTools/android-sdk-mac_x86/platform-tools:$PATH
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH

#set -o vi
#eval "$(rbenv init -)"


