# Automatically normalize line endings for all text-based files
* text=auto

# Tasty git morsels!!!!! :D
source ~/.bin/git-completion.sh
PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00;31m\]$(__git_ps1 " #(%s)")\[\033[00m\]\$ '
GIT_PS1_SHOWDIRTYSTATE=1
GIT_PS1_SHOWSTASHSTATE=1
GIT_PS1_SHOWUPSTREAM="auto"

#ls Color scheme
#export LSCOLORS="FxGxBxDxCxFgFdxbxgxcxd"


